<h2>Following</h2>
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 margin-top message-panel" *ngFor="let user of followings">
  <div class="media">
    <div class="media-left">
      <a [routerLink]="['/profile', user.id]">
        <img class="media-object" [src]="user.pictureUrl" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a [routerLink]="['/profile', user.id]">@{{ user.username }}</a></h4>
      <div class="well well-sm white-bg well-margin-bottom">{{ user.firstName }}, {{ user.lastName}}</div>
      <div class="well well-sm white-bg well-margin-bottom">{{ user.email }}</div>
    </div>
  </div>
</div>