<label for="ownRatings">My Ratings ratio</label>
<div class="well well-sm well-rating" id="ownRatings">
  <div class="progress">
    <div *ngIf="myLikes != 0" class="progress-bar progress-bar-success progress-bar-striped active" [style.width]="myLikes + '%'">
      <i class="glyphicon glyphicon-thumbs-up"></i> {{ myLikes}} %
    </div>
    <div *ngIf="myDislikes != 0" class="progress-bar progress-bar-danger progress-bar-striped active" [style.width]="myDislikes + '%'">
      <!-- 💩 --><i class="fa fa-thumbs-down"></i> {{ myDislikes }} %
    </div>
  </div>
</div>

<label for="givenRatings">Given Ratings ratio</label>
<div class="well well-sm" id="givenRatings">
  <div class="progress">
    <div *ngIf="givenLikes != 0" class="progress-bar progress-bar-success progress-bar-striped active" [style.width]="givenLikes + '%'">
      <i class="glyphicon glyphicon-thumbs-up"></i> {{ givenLikes }} %
    </div>
    <div *ngIf="givenDislikes != 0" class="progress-bar progress-bar-danger progress-bar-striped active" [style.width]="givenDislikes + '%'">
      <!-- 💩 --><i class="fa fa-thumbs-down"></i> {{ givenDislikes }} %
    </div>
  </div>
</div>